/** @format */

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: all 0.75s ease-out;
}
.library-song img {
  width: 30%;
}

.library-song:hover {
  background: rgb(66, 65, 65);
}

.song-description {
  padding-left: 1rem;
}

.song-description h3 {
  font-size: 1rem;
  color: #fff;
}

.song-description h4 {
  font-size: 0.7rem;
  color: #fff;
}

.selected {
  background: rgb(194, 208, 253);
}
